<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.AuthorityDao">
	<resultMap id="authorityMap" type="Authority">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="aicon" jdbcType="VARCHAR" property="aicon" />
		<result column="aurl" jdbcType="VARCHAR" property="aurl" />
		<result column="parentId" jdbcType="INTEGER"
			property="parentid" />
		<result column="title" jdbcType="VARCHAR" property="title" />
		<result column="type" jdbcType="INTEGER" property="type" />
	</resultMap>
	
	<select id="findByIndexAndSize" parameterType="map" resultMap="authorityMap">
		select * from t_authority limit #{index},#{size}
	</select>
	
	<select id="count" resultType="int">
		select count(1) from t_authority
	</select>
	
	<select id="findAllAuth" resultMap="authorityMap">
		select * from t_authority
	</select>

</mapper>