<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserRoleDao">
	<resultMap id="userroleMap" type="UserRole">
		<result column="no" jdbcType="VARCHAR" property="no" />
		<result column="info" jdbcType="VARCHAR" property="info" />
	</resultMap>

	<select id="findRoleByNo" parameterType="string" resultMap="userroleMap">
		select u.no,r.info from t_user u
		inner join t_userrole ur
		ON u.id = ur.uid
		inner join t_role r
		ON ur.rid= r.id
		where u.no=#{no}
	</select>
	
	<select id="findByIndexAndSize" parameterType="map" resultType="UserRole">
		select * from (SELECT u.id,u.no,u.name,GROUP_CONCAT(t_userrole.rid SEPARATOR '/') rid,GROUP_CONCAT(t_role.info SEPARATOR '/') as info,u.flag FROM t_user u
		INNER JOIN t_userrole
		ON u.id=t_userrole.uid
		INNER JOIN t_role
		ON t_userrole.rid=t_role.id GROUP BY u.`no` ORDER BY u.id ASC) AS aaa
		<where>
		<if test="no != null">
			no=#{no}
		</if>
		
		<if test="flag != null">
			and	flag=#{flag}
		</if>
		</where>
		
		limit #{index},#{size}
		
	</select>
	
	<select id="count" resultType="int">
		select count(1) from t_user
	</select>
	
	<delete id="deleteUserRoleById" parameterType="int">
		delete from t_userrole where uid=#{uid}
	</delete>
	
</mapper>