<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserDao">
	<resultMap id="userMap" type="User">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="no" jdbcType="VARCHAR" property="no" />
		<result column="password" jdbcType="VARCHAR"
			property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="flag" jdbcType="INTEGER" property="flag" />
		<result column="headphoto" jdbcType="VARCHAR"
			property="headphoto" />
	</resultMap>

	<select id="findByNo" parameterType="string" resultMap="userMap">
		select * from t_user where no=#{no}
	</select>
	
	<delete id="deleteUserById" parameterType="int">
		delete from t_user where id=#{id}
	</delete>

</mapper>