<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qfedu.dao.UserRoleKeyDao">
	<resultMap id="userrolekeyMap"
		type="UserRoleKey">
		<id column="uid" jdbcType="INTEGER" property="uid" />
		<id column="rid" jdbcType="INTEGER" property="rid" />
	</resultMap>

	<insert id="addUserRoleKey" parameterType="map">
		insert into t_userrole(uid,rid) values(#{uid},#{rid})
	</insert>
	
	<delete id="deleteUserRoleKey" parameterType="int">
		delete from t_userrole where uid=#{uid}
	</delete>
</mapper>